:root{
 /* Primary */
--red400: hsl(0, 100%, 74%); 
--green400: hsl(154, 59%, 51%);
--white: hsl(255,100%,100%);

 /* Accent */
--purple700: hsl(248, 32%, 49%);

 /* Neutral */
--gray900: hsl(249, 10%, 26%);
--purple350: hsl(246, 25%, 77%);


/*Box-shadow*/
--costs-box-shadow:hsla(0, 1%, 34%, 0.2);
--form-box-shadow:hsla(0, 1%, 17%, 0.2);
--button-box-shadow-dark-green: hsla(154, 86%, 34%, 0.7);
--button-box-shadow-light-green: hsla(154, 67%, 47%, 0.7);

/*Border*/
--input-border: hsl(240, 15%, 88%);

/* Hover */
--bg-green: hsl(154, 58%, 62%);

/* Attribution */
--attribution: hsl(228, 45%, 44%);
}

*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
 font-family: "Poppins", sans-serif;
 font-size: 1rem;
 background-image: url("images/bg-intro-mobile.png");
 background-color: var(--red400);
 color: var(--white);
}

#container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.9375rem;
  gap: 1.875rem;  
}

.offer{
  margin-block-start: 3.125rem;
  text-align: center;
  max-width: 28.125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.9375rem;
  gap: 1.25rem;  
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.9375rem;
  gap: 1.5625rem;
}

.costs{
  text-align: center;
  background-color: var(--purple700);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0 0 var(--costs-box-shadow);
	-webkit-box-shadow: 0 0.5rem 0 0 var(--costs-box-shadow);
	-moz-box-shadow: 0 0.5rem 0 0 var(--costs-box-shadow);
  padding: 1.25rem;
  width: 100%;
  max-width: 28.125rem;
  font-weight: 400;
}
.duration{
  font-weight: 600;
}

.submission{
  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0 0 var(--form-box-shadow);
	-webkit-box-shadow: 0 0.5rem 0 0 var(--form-box-shadow);
	-moz-box-shadow: 0 0.5rem 0 0 var(--form-box-shadow);
  width: 100%;
  max-width: 28.125rem;
}


form{
  padding-block: 1.25rem 0.3125rem;
  padding-inline: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

input{
  width:100%;
  padding:0.9375rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid var(--input-border);
  font-weight: 600;
  font-size: 1rem;
}

input:focus {
  border:0.0625rem solid var(--gray900);
	color:var(--gray900);
  outline: none;
}

button{
  background-color: var(--green400);
  color: var(--white);
  border-radius: 0.3125rem;
  border: none;
  box-shadow: 0 0.3125rem 0 0 var(--button-box-shadow-dark-green);
	-webkit-box-shadow: 0 0.3125rem 0 0 var(--button-box-shadow-dark-green);
	-moz-box-shadow: 0 0.3125rem 0 0 var(--button-box-shadow-dark-green);
  padding: 0.9375rem;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  width:100%;
  font-weight: 700;
  font-size: 0.875rem;
}

button:hover{
  cursor:pointer;
  background-color: var(--bg-green);
}

.info{
  text-align: center;
  color: var(--purple350);
  font-size: 0.75rem;
  padding-block: 0 1.25rem; 
  padding-inline: 2rem;
  line-height: 2;
  font-weight: 500;
}
.terms{
  color:var(--red400);
  font-weight: 700;
}

.attribution { 
  font-size: 0.6875rem; 
  text-align: center; 
}

.attribution a { 
  color: var(--attribution); 
}