:root{
 /* Primary */
--red400: hsl(0, 100%, 74%); 
--green400: hsl(154, 59%, 51%);
--white: hsl(255,100%,100%);

 /* Accent */
--purple700: hsl(248, 32%, 49%);

 /* Neutral */
--gray900: hsl(249, 10%, 26%);
--purple350: hsl(246, 25%, 77%);


/*Box-shadow*/
--costs-box-shadow:hsla(0, 1%, 34%, 0.2);
--form-box-shadow:hsla(0, 1%, 17%, 0.2);
--button-box-shadow-dark-green: hsla(154, 86%, 34%, 0.7);
--button-box-shadow-light-green: hsla(154, 67%, 47%, 0.7);

/*Border*/
--input-border: hsl(240, 15%, 88%);

/* Hover */
--bg-green: hsl(154, 58%, 62%);

/* Attribution */
--attribution: hsl(228, 45%, 44%);
}

*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
 font-family: "Poppins", sans-serif;
 font-size: clamp(0.9375rem, 0.2vw + 0.85rem, 1rem);
 background-image: url("images/bg-intro-mobile.png");
 background-color: var(--red400);
 color: var(--white);
}

#container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.9375rem;
  gap: 1.875rem;  
}

.offer{
  margin-block-start: 3.125rem;
  text-align: center;
  max-width: 28.125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.9375rem;
  gap: 1.25rem;  
}

.offer-title {
  font-size: clamp(1.75rem, 4vw + 1rem, 3.4375rem);
  line-height: 1.05;
  margin-block-end: 1.5rem;
}

.offer-description {
  font-size: clamp(1rem, 0.5vw + 0.9rem, 1.0625rem);
  line-height: 1.7;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.9375rem;
  gap: 1.5625rem;
}

.costs {
  text-align: center;
  background-color: var(--purple700);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0 0 var(--costs-box-shadow);
  padding: 1.25rem;
  width: 100%;
  max-width: 28.125rem;
  font-weight: 400;
}
.duration {
  font-weight: 600;
}


form {
  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0 0 var(--form-box-shadow);
  width: 100%;
  max-width: 28.125rem;
  padding-block: 1.25rem 0.3125rem;
  padding-inline: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

input {
  width:100%;
  padding:0.9375rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid var(--input-border);
  font-weight: 600;
  font-size: 1rem;
  }

input:focus {
  border:0.0625rem solid var(--gray900);
	color:var(--gray900);
  outline: none;
  background-color: var(--white);
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
  box-shadow: 0 0 0 62.5rem var(--white) inset;
  -webkit-text-fill-color: var(--gray900);
}

button{
  background-color: var(--green400);
  color: var(--white);
  border-radius: 0.3125rem;
  border: none;
  box-shadow: 0 0.3125rem 0 0 var(--button-box-shadow-dark-green);
  padding: 0.9375rem;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  width:100%;
  font-weight: 700;
  font-size: clamp(0.875rem, 0.5vw + 0.75rem, 1rem);
}

button:hover{
  cursor:pointer;
  background-color: var(--bg-green);
}

.info{
  text-align: center;
  color: var(--purple350);
  font-size: 0.75rem;
  padding-block: 0 1.25rem; 
  padding-inline: 2rem;
  line-height: 2;
  font-weight: 500;
}
.terms{
  color:var(--red400);
  font-weight: 700;
}

.attribution { 
  font-size: 0.6875rem; 
  text-align: center; 
}

.attribution a { 
  color: var(--attribution); 
}

.form-control {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-control .error-text {
  color: var(--red400);
  font-size: 0.6875rem;
  font-weight: 500;
  text-align: right;
  margin-block-start: 0.3125rem;
  display: none;
  font-style: italic;
}

.form-control.error .error-text {
  display: block;
}

.form-control.error input {
  border: 0.125rem solid var(--red400);
  color: var(--red400);
  background-image: url('images/icon-error.svg');
  background-repeat: no-repeat;
  background-position: right 1rem center;
  padding-inline-end: 3rem;
}

.form-control.error input::placeholder {
  color: transparent;
}

@media (min-width: 48rem)
{
body {
    background-image: url("images/bg-intro-desktop.png");
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 2rem;
    padding-inline: clamp(1rem, 8vw, 10rem);
  }

#container {
  flex-direction: row;
  align-items: center;
  max-width: 90rem;
  width: 100%;
  gap: 4.5rem;
  justify-content: space-between;
}

.offer, main{
  flex: 1;
  width: 100%;
}

.offer{
  text-align: left;
  margin-block-start: 0;
  align-items: flex-start;
  max-width: none;
  flex: 1;
  padding: 0;
}

.offer-description{
line-height: 1.8;
}

main {
    flex: 1; 
    width: 100%;
    align-items: stretch;
    padding: 0;
    gap: 1.5rem;
    min-width: 24rem;
  }


.costs, form {
    max-width: none; 
  }

.costs {
  font-size: 1.0625rem;
  padding-block: 1.0625rem;
}

form{
  padding-block: 2.5rem 1.25rem;
  padding-inline: 2.5rem;        
  gap: 1.25rem;
}

input {
    padding: 1.0625rem 1.25rem;
  }

  button {
    padding: 1.0625rem;
  }


.info {
    padding-block: 0 2.5rem;       
    padding-inline: 2.5rem;   
  }
}